@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.ds_none{
    display: none !important;
}