/* menu */
header .header_menu{
    width: 100%;
    background-color: #343A40;
    color: #FFF;
    display: flex;
}

header .header_menu h1{
    flex-basis: 500px;
    padding: 20px;
    font-size: 1.5em;
    margin-left: 5%;
}

header .header_menu h1 a{
    color: #FFF;
}

header .header_menu nav{
    flex-basis: calc(100% - 500px);
    display: flex;
    justify-content: flex-end;
}

header .header_menu nav ul{
    display: flex;
    align-items: stretch;
}

header .header_menu nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

header .header_menu nav ul li a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #FFF;
    font-weight: bold;
}

header .header_menu nav ul li a:hover{
    color: #35ba9b;
}
/* fim menu */

/* menu  mobile*/
.main_header_content_menu_mobile{
    flex-basis: calc(100% - 330px);
    display: none !important;
    justify-content: flex-end;
}

.main_header_content_menu_mobile ul{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main_header_content_menu_mobile ul li{
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.main_header_content_menu_mobile_obj{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #FFF;
    border-radius: 4px 4px 0 0;
}

.main_header_content_menu_mobile_obj:hover, .main_header_content_menu_mobile_obj_active{
    color: #35ba9b;
}

.main_header_content_menu_mobile_sub{
    min-width: 200px;
    background-color: #343A40;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: -20px;
}

.main_header_content_menu_mobile_sub > li{
    flex-basis: 100%;
}

.main_header_content_menu_mobile_sub > li a{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.main_header_content_menu_mobile_sub > li a:hover{
    background-color: #FFF;
}
/* fim menu mobile */

/* home */
main .home{
    width: 100%;
    background-color: #35ba9b;;
}

.art_home header{
    color: #FFF;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
}

.art_home header img{
    width: 250px;
}

.art_home h2{
    color: #FFF;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 40px;
}
/* fim home */

/* skill */
main .skill{
    width: 100%;
    background-color: #FFF;
    padding-top: 40px;
}

.skill header{
    color: #2C3E50;
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 40px;
}

.skill_img{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill_img > article{
    flex-basis: calc(35% - 80px);
    align-items: center;
    margin-bottom: 40px;
}

.skill_img article img{
    width: 400px;
    border-radius: 5px;
}
/* fim skill */

/* about */
.about{
    width: 100%;
    padding: 40px;
    background-color: #35ba9b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about header{
    flex-basis: 100%;
    color: #FFF;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

.about > article{
    flex-basis: calc(48%);
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    margin: 0 auto;
    background-color: #2C3E50;
    border-radius: 5px;
    margin-bottom: 20px;
}

.about article a{
    color: #FFF;
}

.about article a:hover{
    text-decoration: underline;
}
/* fim about */

/* portifolio */
main .portifolio{
    width: 100%;
    background-color: #FFF;
    padding-top: 40px;
}

.portifolio header{
    color: #2C3E50;
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 40px;
}

.portifolio article p{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 80px;
    font-weight: bold;
    color: #2C3E50;
}

.portifolio h2{
    background-color: #35ba9b;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.portifolio-img{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}

.portifolio-img > article{
    flex-basis: calc(35% - 80px);
    align-items: center;
    margin-bottom: 40px;
}

.portifolio-img article img{
    width: 400px;
    border-radius: 5px;
}

/* fim portifolio */

/* contact */
.contact{
    background-color: #35ba9b;
}
.contact header{
    color: #FFF;
    text-align: center;
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 20px;
}

.contact_article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_article article{
    background-color: #2C3E50;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 10px auto;
    font-size: 1.2em;
    /* flex-basis: calc(45% - 20px); */
    flex-basis: calc(30% -20px);
    margin-bottom: 40px;
}

.contact_article article a p{
    text-align: center;
}

.contact_article article a{
    text-decoration: none;
    color: #FFF;
}

.contact_article article:hover{
    background-color: #1A252F;
    font-weight: bold;
}
/* fim contact */

/* whatsapp */
.whatsapp{
    width: 100%;
    background-color: #2C3E50;
    color: #FFF;
    text-align: center;
    padding: 40px;
}

.whatsapp header h1{
    font-size: 1.6em;
    margin-bottom: 10px;
}

.whatsapp article a{
    text-decoration: none;
    color: #FFF;
}

.whatsapp article a:hover{
    color: #35ba9b;
    text-decoration: underline;
}
/* fim whatsapp */

/* footer */
.copyright{
    width: 100%;
    background-color: #1A252F;
    color: #FFF;
    text-align: center;
    font-size: 0.7em;
    padding: 20px;
    font-weight: bold;
}
/* fim footer */


/* Responsive */

/* 1024px */
@media(max-width:64em){
   /* skill */
   .skill_img > article{
        margin: 0 auto;
        padding-bottom: 30px;
    }
   .skill_img article img{
        width: 250px;
    }
   /* fim skill */

   /* contact */
    .contact header{
        font-size: 2em;
        margin-top: 50px;
    }

    .contact_article article{
        flex-basis: calc(50% - 20px);
    }
    /* fim contact */
}

/* 768px */
@media(max-width: 49em){
    /* menu */
    .main_header_content_menu{
        display: none !important;
    }

    .main_header_content_menu_mobile{
        display: flex !important;
    }
    /* fim menu */

    /* home */
    .art_home header{
        padding-top: 20px;
        font-size: 2em;
    }
    
    .art_home header img{
        width: 200px;
    }
    
    .art_home h2{
        font-size: 1em;
    }
    /* fim home */

    /* skill */
    .skill header{
        font-size: 2em;
        padding-top: 20px;
    }
    
    .skill_img{
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    
    .skill_img > article{
        margin: 0 auto;
        padding-bottom: 30px;
    }
    
    .skill_img article img{
        width: 300px;
        border-radius: 5px;
    }
    /* fim skil */

    /* about */
    .about header{
        font-size: 2em;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    
    .about > article{
        flex-basis: calc(98%);
        padding: 20px;
        color: #FFF;
        font-weight: bold;
        margin: 0 auto;
        background-color: #2C3E50;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    /* fim about */

    /* portifolio */
    .portifolio header{
        font-size: 2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .portifolio article p{
        font-size: 1em;
        padding-bottom: 20px;
    }

    .portifolio h2{
        margin-bottom: 10px;
        font-size: 1em;
    }

    /* fim portifolio */

    /* contact */
    .contact header{
        font-size: 2em;
        margin-top: 50px;
    }

    .contact_article article{
        flex-basis: calc(100% - 20px);
    }
    /* fim contact */

    /* whatsapp */
    .whatsapp header h1{
        font-size: 1.2em;
    }

    .whatsapp article a{
        font-size: 0.8em;
    }
    /* fim whatsapp */
}

/* 600px */
@media(max-width: 40em){
    .portifolio-img article img{
        width: 320px;
    }
}

/* 400px */
@media(max-width: 25em){
    header .header_menu h1{
        font-size: 0.94em;
    }
}